# Virtual Environments
venv/
.venv/
env/
*_env/
*-env/

# Python cache
__pycache__/
*.py[cod]

# Data and Models
*.csv
*.idx3-ubyte
*.idx1-ubyte
*.pth
*.pt
*.wav
*.mp3
*.mp4
*.jpg
*.jpeg
*.png

# OS
.DS_Store
